.container{
    height: 500px;
    width: 80%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 40px;
}
.img{
    height: 400px;
    width: 60%;
    /* border: 2px solid black; */
}
.paragraph{
    height: 300px;
    width: 40%;
    /* border: 2px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragraph>h1{
    font-size: 55px;
}
.paragraph>button{
    height: 40px;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 180px;
    background-color: red;
    border: none;
    outline: none;
}
.paragraph>button>a{
    text-decoration: none;
    color: white;
    font: 300;
}
img{
    height: 100%;
    width: 100%;
}